.random-planet {
  display: flex;
  padding: 1rem;
  overflow: auto;
}

.random-planet .planet-image {
  width: 150px;
  height: 150px;
  border-radius: 10px;
  margin-right: 1rem;
}

.random-planet .list-group {
  margin: 1rem 0 0 1rem;
}

.random-planet .list-group-item {
  padding: .25rem;
}

.random-planet .list-group-item .term {
  margin-right: .5rem;
}

@media screen and (max-width:380px) {
  .random-planet {
    padding: .5rem;
    overflow: auto;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .random-planet .planet-image  {
    margin-right: 0;
  }
}