.header {
  margin-top: .5rem;
  padding-left: 10px;
}

.header ul li {
  list-style: none;
  margin: 0;
  padding: .5rem 1rem;
  border-radius: 3px;
}

.header ul li:hover {
  background-color: #444;
}

.header a:hover {
  text-decoration: none;
}

.header h3 a {
  color: #e34510;
}

.header h3 a:hover {
  color: #00bc8c;
}

@media screen and (max-width: 480px) {
  .header {
    margin-top: .5rem;
    padding-left: 10px;
    flex-direction: column;
    align-items: center;
    padding: 0;
  }
  .header ul {
    padding: 0;
  }
}